* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	color: #666666;
}

header {
	background-color: #000033;
	color: #FFFFFF;
	height: 120px;
	text-align: center;
	padding-top: 30px;
	padding-left: 3em
}

h1 {
	font-family: 'Times New Roman';
	font-size: 3em;
	letter-spacing: 0.25em;
	margin-bottom: 0;
	margin-top: 0;
}

nav {
	color: #002171;
	font-weight: bold;
	padding: 1.5em;
	font-size: 120%;
	float: left;
	width: 160px;
}

nav a {
	text-decoration: none;
	font-weight: bold;
}

nav a:link {
	color: #5C7FA3;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #A52A2A;
}

main {
	background-color: #FFFFFF;
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin-left: 190px;
	display: block;
	overflow: auto;
}

section {
	float: left;
	width: 33%;
	padding-left: 2em;
	padding-right: 2em;
}

h2 {
	font-family: Times New Roman;
	color: #1976D2;
	text-shadow: 1px 1px #CCCCCC
}

h3 {
	font-family: Times New Roman;
	color: #000033;
}

main ul {
	list-style-image: url('marker.gif');
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
}


footer {
	background-color: #FFFFFF;
	margin-left: 190px;
	font-size: 75%;
	font-family: 'Times New Roman';
	font-style: italic;
	text-align: center;
	padding: 2em;
}

.companyname {
	color: #1976D2;
}

#homehero {
	height: 300px;
	background-image: url(coast.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#yurthero {
	height: 300px;
	background-image: url(yurt.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#trailhero {
	height: 300px;
	background-image: url(trail.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}


#wrapper {
	background-color: #90C7E3;
	background-image: linear-gradient(#FFFFFF, #90C7E3);
	margin-left: auto;
	margin-right: auto;
	box-shadow: 1px 1px #000033;
}